body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.vote-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.votes {
    margin-top: 10px;
    font-weight: bold;
}

#calculate {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
}

#result {
    font-weight: bold;
}
